[defaults]
inventory = inventory/hosts.yml
roles_path = roles
retry_files_enabled = false
interpreter_python = /usr/bin/python3
# SSH pipelining speeds up execution by reusing connections.
pipelining = true

[privilege_escalation]
become = true
become_method = sudo
